body{
    margin: 0;
    font-family: "Lato",sans-serif;
    background: white;
    box-sizing: border-box;
 }
 h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;            
}
 .new-listing-container{
     display: flex;
 }
 .left-new-listing{
    width: 50%;
    padding: 2rem;
    margin-top: 25px;
    margin-left: 35px;
 }
 .sell-rent{
    margin-top: 70px;
 }
 #sell,#rent{
     margin-left: 18px;
 }
 
 .same-row{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 30px;
 }
 form{
    font-style: normal;
    width: 80%;
   padding: 20px 15px 0px 0px;
   margin: 10px 0 25px;
   display: grid;
   grid-template-columns: 1fr ;
   grid-gap: 30px;
   box-sizing: border-box;
   font-size: 23px;
   font-weight: 400;
   input[type=text], select {
   border: 1.5px solid #000000;
   box-sizing: border-box;
   width: 100%;
   height: 40px;      }}
   #big-textbox{
       height: 100px;
   }

   .photo-gallery{
       margin-left: 30px;
       margin-top: 150px;
       background-color: #C4C4C4;
       width: 400px;
       height: 200px;
       text-align: center;
       font-size: 30px;
       font-weight: 500;
       letter-spacing: 0.5px;

   }
   #grey-button{
       background-color: #DDDDDD;
       margin-left: 30px;
       width: 274px;
       height: 45px;
       margin-top: 35px;
       font-size: 16px;
       font-weight: 500;
       letter-spacing: 0.5px; 
   }

   #blue-button{
       
        margin-top: 220px;
        float: right;
        width: 290px;
        height: 50px;
         background: #0080FF;
         border-radius: 5px;
         font-style: normal;
         font-size: 21px;
         font-weight: 500;
         letter-spacing: 1px;
         line-height: 43px;
         color: #FFFBFB;    
         
   }
   .right-new-listing{
       margin-left: 50px;
   }
