// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@100&display=swap");

$main-dark: #343434;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: $main-dark;
}

body {
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav {
  margin-left: -5%;
  margin-right: -6%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #fff;
  border-bottom: 1px solid $main-dark;

  .logo {
    letter-spacing: 3px;
    font-size: 22px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;

  .hero-section {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px);
    -webkit-user-drag: none;
  }

  .hero-section_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;

    h1 {
      color: white;
      font-size: 52px;
      text-align: center;
      text-shadow: 2px 3px 4px black;
    }

    .hero-section_area-search {
      display: flex;
      margin-top: 3%;

      #search_input {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        border: none;
        outline: none;
        box-sizing: border-box;
        padding: 20px;
        font-size: 16px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .hero-section_area-search_btn {
        width: 10%;
        background-color: white;
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: 3px solid $main-dark;
        cursor: pointer;

        .hero-section_area-search_btn-img {
          width: 50%;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          svg {
            width: 90%;
            fill: $main-dark;
            transition: 0.2s ease-in-out;
          }
        }
      }
      .hero-section_area-search_btn:hover {
        svg {
          width: 100%;
        }
      }
    }
  }
}

.main {
  width: 100%;
  height: 100%;

  .progressbar {
    width: 100%;
    display: flex;
    margin-top: 3em;
    margin-bottom: 4em;
    overflow: hidden;

    .progessbar-wrapper {
      width: 100%;
      margin-left: 14%;
      margin-right: 14%;
      display: flex;
      justify-content: space-around;

      .progressbar-container {
        margin: 2rem;

        .progressbar-container-text {
          text-align: center;
          height: 10%;
        }

        .progressbar-container-circle {
          margin-top: 1.5rem;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $main-dark;

          span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 25rem;
            border: 2px solid $main-dark;
            background-color: $main-dark;
          }
        }
      }
    }
  }

  .covid-banner {
    display: block;
    width: 80%;
    max-width: 952px;
    margin: 32px auto auto;
    // border: 1px solid rgb(232, 233, 234);
    border: 2px solid #ff1919;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgb(232, 233, 234);

    .covid-banner-content {
      flex-direction: row;
      display: flex;
    }

    .covid-banner-content-wrapper {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      justify-content: center;
      padding: 16px;

      .covid-banner-content-wrapper-logo {
        width: 64px;
        height: 64px;
        margin-right: 10px;
      }

      .covid-banner-content-wrapper-details {
        margin-left: 15px;

        p {
          font-size: 17px;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;

          a {
            margin-left: 1em;
          }
        }
      }
    }
  }

  .wrapper {
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    grid-gap: 3%;
    justify-content: center;

    .wrapper-container {
      overflow: hidden;
      box-shadow: 0px 2px 8px 0px #b0bec5;
      text-align: center;
      border-radius: 5px;
      position: relative;
      margin: 0.5rem;

      .wrapper-container-icon {
        margin-top: 3rem;
      }

      .wrapper-container-content {
        margin: 3.8rem 0rem 2rem 0rem;

        p {
          margin: 1.3rem 2.5rem;
          font-size: 15px;
        }

        a {
          display: block;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          width: 150px;
          margin-top: 3rem;
          border: 1px solid $main-dark;
          font-size: 16px;
          color: white;
          padding: 0.5rem;
          background-color: $main-dark;
          border-radius: 10px;
          outline: none;
          text-decoration: none;
          transition: 0.15s ease-in-out;
        }

        a:hover {
          color: $main-dark;
          background-color: white;
        }
      }
    }
  }
}

.footer-content {
  margin-top: 10%;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .footer-content-left {
    margin-left: 14%;

    h2 {
      padding-bottom: 15px;
    }

    * {
      padding-bottom: 6px;
    }
  }

  .footer-content-right {
    margin-right: 14%;
    text-align: right;

    h2 {
      padding-bottom: 15px;
    }

    * {
      padding-bottom: 6px;
    }
  }
}

// Media Queries

@media screen and (max-width: 919px) {
  .wrapper-container:last-child {
    left: 50%;
  }
}

@media screen and (max-width: 575px) {
  .wrapper-container:last-child {
    left: 0%;
  }
}

@media screen and (max-width: 762px) {
  .wrapper {
    grid-gap: 0% !important;
  }
}

@media screen and (max-width: 620px) {
  .footer-content {
    font-size: 15px;
    flex-direction: column;
    justify-content: center;

    .footer-content-left {
      margin-left: 0%;
      text-align: center;
      margin-bottom: 20px;
    }

    .footer-content-right {
      margin-right: 0%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 840px) {
  .progressbar-container-text {
    margin-bottom: 3em;
  }
}

@media screen and (min-width: 300px) {
  .main {
    .progressbar {
      .progessbar-wrapper {
        .progressbar-container {
          .progressbar-container-circle {
            .progressbar-container-circle-line {
              width: 11rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .main {
    .progressbar {
      .progessbar-wrapper {
        .progressbar-container {
          .progressbar-container-circle {
            .progressbar-container-circle-line {
              width: 14rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .main {
    .progressbar {
      .progessbar-wrapper {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .main {
    .progressbar {
      .progessbar-wrapper {
        .progressbar-container {
          .progressbar-container-circle {
            .progressbar-container-circle-line {
              width: 16rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 990px) {
  .main {
    .progressbar {
      .progessbar-wrapper {
        .progressbar-container {
          .progressbar-container-circle {
            .progressbar-container-circle-line {
              width: 19rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1185px) {
  .main {
    .progressbar {
      .progessbar-wrapper {
        .progressbar-container {
          .progressbar-container-circle {
            .progressbar-container-circle-line {
              width: 21.8rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1390px) {
  .main {
    .progressbar {
      .progessbar-wrapper {
        .progressbar-container {
          .progressbar-container-circle {
            .progressbar-container-circle-line {
              width: 25rem;
            }
          }
        }
      }
    }
  }
}